html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

html * {
  font-family: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
}

input, button {
  font-size: inherit;
}
